@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');
@import "../../node_modules/npm-font-caviar-dreams/caviar-dreams.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  /* width: 0px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home,
.about,
.gallery,
.contact {
  min-height: 90vh;
  min-height: calc(100vh - 80px);
}

.about {
  /* background-image: url("/images/img-2.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.gallery {
  background-image: linear-gradient(180deg, #fff, #fff9),
    url("https://i.ibb.co/pd11Phg/bckgr.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: #000;
  font-size: 100px; */
}

hr {
  width: 50% !important;
  margin-bottom: 50px !important;
  text-align: center !important;
  margin: 0 auto;
  opacity: 0.1;
  border-color: #242424 !important;
}
.hr-max-width {
  width: 90% !important;
  margin-bottom: 0 !important;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Caviar Dreams", arial;
  font-family: "Baloo Tamma 2", cursive;
  font-family: 'Poiret One', cursive;

  margin-bottom: 20px;
}

p {
  font-family: "Baloo Tamma 2", cursive;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: "Baloo Tamma 2", cursive;
  padding-bottom: 20px;
}
h3 {
  font-family: 'Poiret One', cursive;
}
