:root {
  --primary: #fff;
  --secondary: #d1964c;
  --secondary-opacity: #d1954c44;
}
.btn {
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}
.btn--black {
  background-color: #000;
  color: #fff;
  border: 1px solid var(--primary);
}
.btn--orange {
  background-color: var(--secondary);
  color: #fff;
  border: 1px solid var(--primary);
}
.btn--orange:hover {
  border: 1px solid var(--secondary);
}
.btn--black:hover {
  border: 1px solid #000;
}
.btn--outline {
  background-color: var(--secondary-opacity);
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: 0.3s all ease-out;
  border: 1px solid #d1964c;
}

.btn--medium {
  padding: 5px 20px;
  font-size: 20px;
}
.btn--large {
  padding: 15px 26px;
  font-size: 20px;
}

/* ovde probaj :is da iskoristis */
.btn--medium:hover,
.btn--large:hover {
  background: var(--primary);
  color: #242424;
  transition: 0.3s all ease-out;
}

.btn--outline:hover {
  background: var(--secondary);
  color: var(--primary);
}
