.contact {
  background-image: linear-gradient(180deg, #fff, rgba(0, 0, 0, 0.758)),
    url(../assets/img/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contact h1 {
  padding-top: 50px;
}
.contact-container {
  width: 1110px;
  height: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: rgb(70, 70, 70) 0px 20px 30px -10px;

}
.contact-left {
  width: 600px;
  background-image: linear-gradient(40deg, #fff9, #fff);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-left h2 {
  font-size: 1.7rem;
  text-align: center;
  padding: 30px 0;
}
.contact-info {
  /* border: 1px solid #f00; */
}
.contact-content {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 10px 0;
}
.location {
  margin: 0;
}
.contact-content span {
  font-size: 1.4rem;
  color: #fff;
}
.contact-content h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.contact-content a {
  font-size: 1.1rem;
  transition: 0.4s all;
}
.contact-content a:hover {
  color: #d1964c;
}

.info-icon {
  margin: 0 15px;
  font-size: 2rem;
  border: 1px solid #fff9;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1964c;
}

.location-info a,
.contact-content a {
  text-decoration: none;
  color: inherit;
}

.contact-right {
  width: 100%;
  background: #fff9;
  padding: 20px;
}
.contact-right h2 {
  font-size: 1.7rem;
  text-align: center;
  padding: 30px 0;
}

.contact-maps {
  height: 400px;
}
.contact-maps iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-btn {
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  transition: 0.5s linear;
  color: white;
  float: right;
  background-color: #d1954c44 !important;
  width: 115px !important;
  height: 50px !important;
  padding-left: 0 !important;
}
.form-btn:hover {
  border: 1px solid #e49504;
  background-color: #e49504 !important;
  transition: 0.5s linear;
  cursor: pointer;
}
.formWord {
  width: 50%;
  padding: 0 28px;
  margin: 18px 0;
}
.formWord span {
  font-size: 1.1rem;
}

.formWord input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  background: #ffffff;
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
}
.formWord textarea {
  width: 100%;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  height: 235px;
  color: black;
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .formWord {
    width: 100%;
  }
  .formWord button {
    width: 50%;
  }
}
@media screen and (max-width: 1125px) {

.contact-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.contact-left {
  align-items: center;
  width:auto;
}
.contact-right .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.alert-msg {
  background-color: #d1964c;
  padding: 13px;
  text-align: center;
  color: #fff;
  transition: 0.4s all;
}
