.hero-container {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    ),
    url("../assets/img/landing.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding: 100px 0;
}

.content {
  max-width: 45%;
  /* padding-top: 150px; */
  padding-right: 100px;
}

.logo-container {
  animation: fadeIn 1s;
  /* margin: 150px 0; */
  width: 250px;
  height: 378px;
  height: auto;
  /* border: 1px solid #fff; */
}

.logo {
  height: auto;
  width: 100%;
  opacity: 1;
  /* margin-top: 20px; */
}

.content .info h2 {
  color: #beccbf;
  font-size: 55px;
  font-family: "Caviar Dreams", arial;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  font-family: "Caviar Dreams", arial;
}

.content .info p {
  font-size: 1.2rem;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 25px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .hero-container h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px !important;
  }

  .hero-container p {
    font-size: 1.1em !important;
    text-align: center;
  }
  .hero-container .content {
    padding: 50px;
    max-width: fit-content;
  }
  .logo-container {
    margin-top: 0;
  }

  .btn-mobile {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .hero-btns .btn {
    width: 50%;
  }
}

/* Responsive CSS */

@media (max-width: 960px) {
  header .navigation {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover {
    color: #fff;
  }

  label .close-btn {
    display: none;
  }

  #check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(114, 223, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .close-btn {
    z-index: 2;
    position: fixed;
    display: block;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }

  label .menu-btn {
    position: absolute;
  }

  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }
  
}

@media (max-width: 560px) {
  
  .content .info h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span {
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
.hero-container {
  /* border: 1px solid #f00; */
  padding: 180px 0;
}
}