.apartments {
  padding: 4rem;
  background: #fff;
}

.middle .btn--orange {
  border: none;
}
.middle .btn--orange:hover {
  background: none;
  background: #d1954c44;
  color: #fff;
  outline: 1px solid #d1964c;
}
