.housing {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

@media screen and (max-width: 930px) {
    .housing {
      font-size: 3rem;
    }
  }