.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 585px;
  height: 380px;
  background-image: linear-gradient(120deg, #fff, #0001);
}
.slider img {
  max-width: 585px;
  max-height: 320px;
  object-fit: contain;
  border-radius: 5px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 2rem;
  color: #fff5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 2rem;
  color: #fff5;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;

}
:is(.right-arrow, .left-arrow):hover {
  color: #fff;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
