.slider {
  position: relative;
  width: 560px;
  height: 490px;
  overflow: hidden;
}

.slider-images {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider img {
  border-radius: 5px;
}
.slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.slider-image.active {
  opacity: 1;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-controls button {
  background: none;
  border: none;
  margin: 0 20px;
}

.slider-controls button svg {
  font-size: 2rem;
  border: none;
  color: #fff6;
  transition: 0.4s all;
}

.slider-controls button svg:hover {
  color: #fff;
  cursor: pointer;
}
