.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
}

/* .gallery-item:nth-child(even) {
  margin: 30px 50px;
} */
.gallery-item {
  margin: 15px;
}
.gallery-item img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
